#own-photo{
    height: 65%;
    margin: 10px ;
}
.contact-info{
    height: 87%;
    width: 90%;
    padding: 20px 100px;
    margin-top: 10px;
    /* background-color: #b2d9ea73; */
}

.resume{
    height: 80%;
    width: 80%;
    display: flex;
}

.icon{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #fff;
    float: left;
}


.email{background: url("img/css_sprites30px.png") -10px -10px;}

.skype{background: url("img/css_sprites30px.png") -10px -60px;}

.linkedin{ background: url("img/css_sprites30px.png") -60px -10px;}

.phone{ background: url("img/css_sprites30px.png") -60px -60px;}

ul{
     display: flex;
     flex-direction: column;
 }

#icons>li{
    width: 80%;
    height: 40px;
    background-color: #fff;
    margin: 5px;
    display: flex;
    align-items: center;
 }

a{ transition: 1s;}

a:link{ color: #4b7377;}

a:visited{ color: #7ba4a7;}

a:hover{
    color:#84b4c8;
    font-size: 20px;
    transition: 1s;
}

.main-text-sn{
    font-size: 30px;
    padding: 5px;
}

.soft-info, .hard-info{
    width: 80%;
    background-color: #fff9e962;
    display: flex;
    justify-content: space-around;
    border-width: 30px;
    border-style: groove;
    border-image: linear-gradient(
        to left,
        #fff9e962,
        #b2d9eab9 
    )1 100%;
}

.soft-info{
    height: 25%;
}

.hard-info{
    height: 40%;
}

.point{
    height: 25px;
    width: 25px;
    background-image:url(img/check.png);
    background-size: 100% 100%;
    margin-right: 5px;
}



.points>li{
    height: 30px;
    display: flex;
    align-items: center;
    color:black;
    font-size: 25px;
    margin: 5px;
}
